.sideContent { background-color: #E7E7E7; }
#newestReleasedTimesules,#userProfileContent { background-color: #c3dbe5; }
#calendar .hover { background-color: #818181; }
#login-box-wrapper { background-color: rgb(0,119,167);  }
#timePromptForm #formatBar .formatButton { background-color: #E9E9EA; }